[{:itonami.blueprint/social-impact [:sustainable-fashion :circular-economy :supply-chain-transparency :craft-preservation]
  :itonami.blueprint/domain :design/product-garment
  :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger]
  :itonami.blueprint/isco-08 "2163"
  :itonami.blueprint/name "Product and Garment Design Practice"
  :itonami.blueprint/governor :design-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-2163"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
